.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid #1e274e;
    border-radius: 50px;
    background-color: #89bff1;
    padding: 8px;
    max-width: 700px;
}


@media (max-width: 768px) {
    .navbar-nav {
        margin-top: 10px;
    }

    .nav-container {
        display: block;
    }

    .navbar button {
        margin-left: auto;
        margin-right: 20px;
    }

    .nav-underline {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-brand {
        margin-left: 50px;
        font-weight: bold;
    }
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f1429c7;
    font-weight: bold;
    width: 180px;
    font-size: 1.2em;
}

.nav-link.active {
    color: rgb(0, 55, 173) !important;
}

.nav-link:hover {
    color: #0f1429;
}