.title-searchbar-container {
    max-width: 700px;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid #1e274e;
    border-radius: 30px;
    background: linear-gradient(to right bottom, #6fbdf0, #cac9dd);
    max-width: 700px;
}

@media (max-width: 768px) {
    .navbar-nav {
        margin-top: 10px;
    }

    .nav-container {
        display: block;
    }

    .navbar button {
        margin-left: auto;
        margin-right: 20px;
    }

    .nav-underline {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-brand {
        margin-left: 30px;
        font-weight: bold;
    }
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-weight: bold;
    width: 180px;
    font-size: 1.2em;
}

.nav-link.active {
    color: #212052 !important;
}

.nav-link:hover {
    color: #212052be;
}